# Node / Frontend Dependencies
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
dist-electron/
*.local
*.DS_Store

# Vite specific
.env
.env.*
!.env.example
.nitro/

# Build artifacts
*.log
*.tmp
*.tmp-*